n8n-workflows/anthropic-budget-alert.json
{
  "name": "Anthropic Budget Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.anthropic.com/v1/organizations/costs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $now.startOf('month').format('YYYY-MM-DD') }}"
            },
            {
              "name": "end_date",
              "value": "={{ $now.format('YYYY-MM-DD') }}"
            },
            {
              "name": "granularity",
              "value": "month"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_ADMIN_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        }
      },
      "id": "fetch-usage",
      "name": "Fetch Anthropic Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse usage and compute % of monthly budget\nconst data = $input.first().json;\nconst items = data.data ?? [];\n\n// Sum total cost in USD across all line items this month\nconst totalCostUsd = items.reduce((sum, item) => {\n  return sum + (item.cost_usd ?? 0);\n}, 0);\n\n// Monthly budget cap — set via n8n env or hardcode\nconst monthlyBudgetUsd = parseFloat(process.env.ANTHROPIC_MONTHLY_BUDGET_USD ?? '50');\nconst pct = (totalCostUsd / monthlyBudgetUsd) * 100;\nconst alertThreshold = parseFloat(process.env.ANTHROPIC_ALERT_THRESHOLD_PCT ?? '80');\n\nreturn [{\n  json: {\n    totalCostUsd: totalCostUsd.toFixed(4),\n    monthlyBudgetUsd,\n    pct: pct.toFixed(1),\n    alertThreshold,\n    shouldAlert: pct >= alertThreshold,\n    message: `🚨 *Anthropic Budget Alert*\\n> Gasto este mês: *$${totalCostUsd.toFixed(2)}* de *$${monthlyBudgetUsd}* (${pct.toFixed(1)}%)\\n> Threshold: ${alertThreshold}%`,\n  }\n}];"
      },
      "id": "compute-usage",
      "name": "Compute Usage %",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-over-threshold",
      "name": "Over Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Compute Usage %').first().json.message }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $('Compute Usage %').first().json.message }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"Ver console Anthropic\" },\n          \"url\": \"https://console.anthropic.com/settings/billing\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Fetch Anthropic Usage", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Anthropic Usage": {
      "main": [
        [{ "node": "Compute Usage %", "type": "main", "index": 0 }]
      ]
    },
    "Compute Usage %": {
      "main": [
        [{ "node": "Over Threshold?", "type": "main", "index": 0 }]
      ]
    },
    "Over Threshold?": {
      "main": [
        [{ "node": "Slack Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "gradios-n8n"
  },
  "tags": ["security", "monitoring"],
  "pinData": {}
}
